In [1]:
#!pip install yfinance --upgrade --no-cache-dir
#!pip install pandas-datareader
#!pip install fix-yahoo-finance

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

sns.set()

In [3]:
path = 'E:\\data_science\\siraj_course\\week2'
file = f'{path}\\DIS.csv'
data = pd.read_csv(file)

In [4]:
data.head()

         Date      Open      High       Low     Close  Adj Close   Volume
0  1962-01-02  0.092908  0.096026  0.092908  0.092908   0.058709   817400
1  1962-01-03  0.092908  0.094467  0.092908  0.094155   0.059497   778500
2  1962-01-04  0.094155  0.094467  0.093532  0.094155   0.059497   934200
3  1962-01-05  0.094155  0.094779  0.093844  0.094467   0.059694   934200
4  1962-01-08  0.094467  0.095714  0.092285  0.094155   0.059497  1245600

In [36]:
from pandas_datareader import data as pdr
import fix_yahoo_finance as yf

df = pdr.DataReader("DIS", start='1970-01-01', data_source='yahoo').reset_index()

In [37]:
df.head()

        Date      High       Low      Open     Close     Volume  Adj Close
0 1970-01-02  0.689779  0.683357  0.688495  0.683357  1109300.0   0.457482
1 1970-01-05  0.688495  0.662805  0.683357  0.662805  1440200.0   0.443723
2 1970-01-06  0.655098  0.646106  0.655098  0.649960  3503200.0   0.435124
3 1970-01-07  0.670512  0.652529  0.652529  0.666658  5741500.0   0.446303
4 1970-01-08  0.692348  0.673081  0.673081  0.683357  2316000.0   0.457482